.parent{
    background-color: red;
    width: 800px;
    height: 700px;
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items:center; */
    /* flex-wrap: wrap; */
    /* flex-flow: column; */
    
.ch{
    width: 100px;
    height: 100px;
}

}
#ch1{
    background-color: green;
    width: 100px;
    height: 100px;
    order: 2;
flex-grow: 1;
}
#ch2{
    background-color: yellow;
    width: 100px;
    height: 100px;
    order: 5;
    flex-grow: 1;
}
#ch3{
    background-color: blue;
    width: 100px;
    height: 100px;
    order: 1;
    flex-grow:1;
}