body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: yellow;
    font-family:Arial, Helvetica, sans-serif sans-serif;
}
.container{
    text-align: center;
}
.color-box{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 2px solid #000;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top:20px ;
}
p{
    font-size:18px;
    margin-top:10px;
}