body,h1,h2,label,select,input,button{
    margin: o;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height:1.6;
    margin: 0;
    padding: 0;
}
header{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px 0;

}
header h1{
    font-size: 36px;
}
main{
    padding: 40px;
    text-align: center;
}
.appointment-form{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius:5px;
    display: inline-block;
    text-align: left;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}
label{
    display:block;
    margin-bottom: 10px;
}
select,input{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{
    background-color: rgb(0, 255, 251);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
footer{
    background-color: #333;
    color: #fff;
    text-align:center;
    padding: 10px 0;
}