body,
h1,
h2,
ul,
li {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

header {
    background-color: rgb(0, 255, 213);
    text-align: center;
    color: rgb(255, 0, 43);
    padding: 20px 0px;
}

header h1 {
    font-size: 36px;
}

nav {
    background-color: rgb(255, 255, 0);
    padding:10px;
    /*  */

}

nav ul {
    list-style-type: none;


}

nav ul li {
    display: inline;
    margin-right: 50px;
    /* display: flex;
    justify-content: space-between; */
   


}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
}

section {
    background-color: #c3d19c;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: #464545;
    color: white;
    text-align: center;
    padding: 10px 0;
}